@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
html,
body {
  background-color: rgb(247, 245, 242);
  font-family: "Poppins", sans-serif;
}



body {
    overflow-x: hidden;
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}